<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ag Grid Demo</span>
  <span class="example-spacer"></span>
  <span>Welcome Mahipal</span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>lock_reset</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container bkgdColor" autosize>
  <mat-drawer [(opened)]="IsDrawer" #drawer class="example-sidenav" mode="side">
    <button mat-menu-item routerLink="/">
      <mat-icon color="primary">download</mat-icon>
      <span>Installation Guide</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/line">
      <mat-icon color="primary">ssid_chart</mat-icon>
      <span>Line Chart</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/bar">
      <mat-icon color="primary">bar_chart</mat-icon>
      <span>Bar Chart</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/doughnut">
      <mat-icon color="primary">track_changes</mat-icon>
      <span>Doughnut Chart</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/radar">
      <mat-icon color="primary">radar</mat-icon>
      <span>Radar Chart</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/pie">
      <mat-icon color="primary">pie_chart</mat-icon>
      <span>Pie Chart</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/polararea">
      <mat-icon color="primary">area_chart</mat-icon>
      <span>Polar Area Chart</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/bubble">
      <mat-icon color="primary">bubble_chart</mat-icon>
      <span>Bubble Chart</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/chart/dynamic">
      <mat-icon color="primary">dynamic_feed</mat-icon>
      <span>Dynamic Chart</span>
    </button>
    <mat-divider></mat-divider>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>

